extends base.pug
block scripts 
    script(src='/static/index.js')
block style 
    style
        include ../static/style.css
        include ../static/aboutstyle.css
block content
    div.wholeabout
        h1  About 
        div.container
            p   <i> <strong>Sameer Alam</strong> </i>, a sophomore at Thapar University, established this website with the intention of compiling frequently used templates in competitive programming with extensive comments. This website also includes application and follow-up tasks for many commonly used algorithms and data structures.
        div.connect 
            h2   Connect :
            a(href='https://www.linkedin.com/in/sameeralamynwa/')
                img(id='linkedin', src='/static/linkedin.ico')
            a(href='https://codeforces.com/profile/sameeralamynwa')
                img(id='codeforces', src='/static/codeforces.png')
        
