extends base.pug
block scripts 
    script(src='/static/index.js')
block style 
    style
        include ../static/style.css
        include ../static/aboutstyle.css
block content
    div.wholeabout
        h1  About 
        div.container
<<<<<<< HEAD
            p   <i> <strong>Sameer Alam</strong> </i>, a sophomore at Thapar University, established this website with the intention of compiling frequently used templates in competitive programming with extensive comments. This website also includes application and follow-up tasks for many commonly used algorithms and data structures.
        div.connect 
            h2   Connect :
=======
            p   <i> <strong>Sameer Alam</strong> </i>, a final year grad at Thapar University, developed this website with the goal of compiling implementations of widely used data structures and algorithms, along with comprehensive and explanatory comments. The website currently features over 100 user-contrubuted source codes as well as numerous follow-up tasks and exercises for the same. We welcome contributions in plenty of programming languages.
        br
        br
        br
        div.connect 
            h2   Connect :&nbsp;&nbsp;
>>>>>>> master
            a(href='https://www.linkedin.com/in/sameeralamynwa/')
                img(id='linkedin', src='/static/linkedin.ico')
            a(href='https://codeforces.com/profile/sameeralamynwa')
                img(id='codeforces', src='/static/codeforces.png')
        
