extends base.pug
block scripts 
    script(src='/static/index.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js')
block style 
    style
        include ../static/style.css
        include ../static/code.css
        include ../highlightjs/dracula.css
block content
  h1 Rabin-Karp for String Matching
  include sourcerabinkarp.html
  h1 Here are some follow-up problems and ideas
  .problems
    ol
        li #[a(href = 'https://codeforces.com/contest/271/problem/D') Codeforces - Good Substrings]
        li #[a(href = 'https://www.spoj.com/problems/NAJPF/') SPOJ - Pattern Find]
        li #[a(href = 'https://codeforces.com/contest/835/problem/D') Codeforces - Palindromic Characteristics]
