extends base.pug
block scripts 
    script(src='/static/index.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js')
block style 
    style
        include ../static/style.css
        include ../static/code.css
        include ../highlightjs/dracula.css
block content
  h1 Balanced Bracket Sequences
  include sourcebracketsequences.html
  h1 Here are some follow-up problems and ideas
  .problems
    ol
        li #[a(href = 'https://leetcode.com/problems/valid-parentheses/') LeetCode - Valid Parentheses]
        li #[a(href = 'https://leetcode.com/problems/generate-parentheses/') LeetCode - Generate Parentheses]
        li #[a(href = 'https://practice.geeksforgeeks.org/problems/nth-catalan-number0817/1') GeeksforGeeks - Nth Catalan Number]
        li #[a(href = 'https://leetcode.com/problems/minimum-insertions-to-balance-a-parentheses-string/') LeetCode - Insertions to Balance a String]
        li #[a(href = 'https://leetcode.com/problems/score-of-parentheses/') LeetCode - Score of Parentheses]