extends base.pug
block scripts 
    script(src='/static/index.js')
block style 
    style
        include ../static/style.css
        include ../static/explorestyle.css
block content
    h1  Explore
    .container 
        input(type="text", id='mysearchinput', onkeyup='search()', placeholder=' Search for your template ')
        ul#items
            -for(let i = 0; i < name.length; ++i){
            li #[a(href =  `explore/${path[i]}`) #{name[i]}]
            -}
        block content
