extends base.pug
block scripts 
    script(src='/static/index.js')
block style 
    style
        include ../static/style.css
        include ../static/explorestyle.css
block content
    h1  Explore
    .container 
        input(type="text", id='mysearchinput', onkeyup='search()', placeholder=' Search for your template ')
        ul#items
<<<<<<< HEAD
            li #[a(href = '/explore/minimumandmaximumspanningtree') Minimum And Maximum Spanning Tree]
            li #[a(href = '/explore/dijkstraalgorithmwithmultipleedges') Dijkstra Algorithm With Multiple Edges]
            li #[a(href = '/explore/fractionclass') Fraction Class]
=======
            li #[a(href = '/explore/binomial-coefficients') Binomial Coefficients]
            li #[a(href = '/explore/string-hashing') String Hashing]
            li #[a(href = '/explore/expression-parsing') Expression Parsing]
            li #[a(href = '/explore/rabin-karp') Rabin-Karp for String Matching]
            li #[a(href = '/explore/sieve-of-eratosthenes') Sieve of Eratosthenes]
            li #[a(href = '/explore/factorization') Factorization]
            li #[a(href = '/explore/euclid-algorithm') Euclid Algorithm] 
            li #[a(href = '/explore/bracket-sequences') Balanced Bracket Sequences] 
            li #[a(href = '/explore/binary-exponentiation') Binary Exponentiation]
            li #[a(href = '/explore/prime-sieve-linear') Linear Sieve]
            li #[a(href = '/explore/binary-tree-inorder') Binary Tree Inorder Traversal]
            li #[a(href = '/explore/binary-tree-preorder') Binary Tree Preorder Traversal]
            li #[a(href = '/explore/design-hashset') Design Hashset]
            li #[a(href = '/explore/stack-using-queue') Stack using Queue]
            
>>>>>>> master
        block content
