<div class="code-toolbar">
    <pre style='color:#000000;background:#ffffff;'>                                                        
        <span style='color:#7f0055; font-weight:bold; '>using</span> <span style='color:#7f0055; font-weight:bold; '>namespace</span> std;
        
        <span style='color:#7f0055; font-weight:bold; '>namespace</span> math{
            
            <span style='color:#7f0055; font-weight:bold; '>const</span> <span style='color:#7f0055; font-weight:bold; '>int</span> mod = 998244353;
            
            <span style='color:#7f0055; font-weight:bold; '>int</span> gcd(<span style='color:#7f0055; font-weight:bold; '>int</span> x, <span style='color:#7f0055; font-weight:bold; '>int</span> y){
                <span style='color:#7f0055; font-weight:bold; '>return</span> x == 0 ? y : math :: gcd(y % x, x);
            }
            
            <span style='color:#7f0055; font-weight:bold; '>int</span> lcm(<span style='color:#7f0055; font-weight:bold; '>int</span> x, <span style='color:#7f0055; font-weight:bold; '>int</span> y){
                <span style='color:#7f0055; font-weight:bold; '>return</span> x * y / math :: gcd(x, y);
            }
            
            <span style='color:#7f0055; font-weight:bold; '>int</span> power(<span style='color:#7f0055; font-weight:bold; '>int</span> n, <span style='color:#7f0055; font-weight:bold; '>int</span> p, <span style='color:#7f0055; font-weight:bold; '>int</span> m, <span style='color:#7f0055; font-weight:bold; '>int</span> res = 1){
                <span style='color:#7f0055; font-weight:bold; '>if</span>(m > 0){
                    n %= mod;
                }
                <span style='color:#7f0055; font-weight:bold; '>for</span>(; p > 0; p >>= 1){
                    <span style='color:#7f0055; font-weight:bold; '>if</span>(p &amp; 1){
                        <span style='color:#7f0055; font-weight:bold; '>if</span>(m > 0){
                            res = res * n % mod;
                        }
                        <span style='color:#7f0055; font-weight:bold; '>else</span>{
                            res = res * n;
                        }
                    }
                    <span style='color:#7f0055; font-weight:bold; '>if</span>(m > 0){
                        n = n * n % mod;
                    }
                    <span style='color:#7f0055; font-weight:bold; '>else</span>{
                        n = n * n;
                    }
                }
                <span style='color:#7f0055; font-weight:bold; '>return</span> res;
            }
            
            <span style='color:#7f0055; font-weight:bold; '>int</span> inverse(<span style='color:#7f0055; font-weight:bold; '>int</span> n){
                <span style='color:#7f0055; font-weight:bold; '>return</span> power(n, mod - 2, 1);
            }
            
        }
                                                
        <span style='color:#7f0055; font-weight:bold; '>class</span> Fraction{
            
            <span style='color:#7f0055; font-weight:bold; '>int</span> n, d;
            
            <span style='color:#7f0055; font-weight:bold; '>public</span>:
            
            Fraction(){
                
            }
            
            Fraction(<span style='color:#7f0055; font-weight:bold; '>int</span> x, <span style='color:#7f0055; font-weight:bold; '>int</span> y){
                <span style='color:#7f0055; font-weight:bold; '>int</span> g = math :: gcd(x, y);
                n = x / g;
                d = y / g;
            }
            
            <span style='color:#7f0055; font-weight:bold; '>static</span> <span style='color:#7f0055; font-weight:bold; '>void</span> print(Fraction c){
                <span style='color:#7f0055; font-weight:bold; '>cout</span> &lt;&lt; ((c.n &lt; 0) ^ (c.d &lt; 0) ? <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>-</span><span style='color:#2a00ff; '>"</span> : <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>"</span>) &lt;&lt; <span style='color:#7f0055; font-weight:bold; '>abs</span>(c.n) &lt;&lt; <span style='color:#2a00ff; '>"</span><span style='color:#2a00ff; '>/</span><span style='color:#2a00ff; '>"</span> &lt;&lt; <span style='color:#7f0055; font-weight:bold; '>abs</span>(c.d) &lt;&lt; <span style='color:#7f0055; font-weight:bold; '>endl</span>; 
            }
            
            <span style='color:#7f0055; font-weight:bold; '>static</span> <span style='color:#7f0055; font-weight:bold; '>int</span> modularInverse(Fraction c){
                <span style='color:#7f0055; font-weight:bold; '>return</span> c.n * math :: inverse(c.d) % math :: mod;
            }
            
            Fraction <span style='color:#7f0055; font-weight:bold; '>operator</span> +(Fraction c){
                Fraction store;
                <span style='color:#7f0055; font-weight:bold; '>int</span> cd = math :: lcm(d, c.d);
                store.n = n * cd / d + c.n * cd / c.d;
                store.d = cd;
                
                <span style='color:#7f0055; font-weight:bold; '>int</span> g = math :: gcd(store.n, store.d);
                store.n /= g;
                store.d /= g;
                
                <span style='color:#7f0055; font-weight:bold; '>return</span> store;
            }
        
            Fraction <span style='color:#7f0055; font-weight:bold; '>operator</span> -(Fraction c){
                Fraction store;
                <span style='color:#7f0055; font-weight:bold; '>int</span> cd = math :: lcm(d, c.d);
                store.n = n * cd / d - c.n * cd / c.d;
                store.d = cd;
                
                <span style='color:#7f0055; font-weight:bold; '>int</span> g = math :: gcd(store.n, store.d);
                store.n /= g;
                store.d /= g;
                
                <span style='color:#7f0055; font-weight:bold; '>return</span> store;
            }
        
            Fraction <span style='color:#7f0055; font-weight:bold; '>operator</span> *(Fraction c){
                Fraction store;
                store.n = n * c.n;
                store.d = d * c.d;
        
                <span style='color:#7f0055; font-weight:bold; '>int</span> g = math :: gcd(store.n, store.d);
                store.n /= g;
                store.d /= g;
                
                <span style='color:#7f0055; font-weight:bold; '>return</span> store;
            }
        
            Fraction <span style='color:#7f0055; font-weight:bold; '>operator</span> /(Fraction c){
                Fraction store;
                store.n = n * c.d;
                store.d = d * c.n;
        
                <span style='color:#7f0055; font-weight:bold; '>int</span> g = math :: gcd(store.n, store.d);
                store.n /= g;
                store.d /= g;
                
                <span style='color:#7f0055; font-weight:bold; '>return</span> store;
            }
        
        };
        
        <span style='color:#7f0055; font-weight:bold; '>void</span> solve(<span style='color:#7f0055; font-weight:bold; '>void</span>){
            Fraction a(11, 2);
            Fraction b(-10, 33);
            
            Fraction :: print(a + b);
            Fraction :: print(a - b);
            Fraction :: print(b * a);
            Fraction :: print(a / b);
            
            Fraction :: print(Fraction(4, 28) / Fraction(7, 2));
            
            <span style='color:#7f0055; font-weight:bold; '>cout</span> &lt;&lt; Fraction :: modularInverse(Fraction(1, 4)) &lt;&lt; <span style='color:#7f0055; font-weight:bold; '>endl</span>;
        }
        
        <span style='color:#7f0055; font-weight:bold; '>signed</span> <span style='color:#7f0055; font-weight:bold; '>main</span>() {
        <span style='color:#7f0055; font-weight:bold; '>int</span> t = 1; 
        <span style='color:#7f0055; font-weight:bold; '>while</span>(t--){
            solve();
        }	
        
            <span style='color:#7f0055; font-weight:bold; '>return</span> 0;
        }
        </pre>
        <!--Created using ToHtml.com on 2021-12-31 08:46:39 UTC -->
</div>