extends base.pug
block scripts 
    script(src='/static/index.js')
block style 
    style
        include ../static/style.css
        include ../static/contributestyle.css
block content 
    div.bucket
        h1 Login
        form(action="/login", method="post", id="mylogin")
            input(type="text", class="input", name="handle", placeholder="Enter your handle")
            input(type="password", class="input", name="password", placeholder="Enter your password")
            button(class="btn") 
                | Login