<div class="containercode">
    <div class="langs">
        <button id="cpp" class="language">C++</button> 
        <button id="java" class="language">Java</button>
        <button id="python" class="language">Python</button>
    </div>
        <div class="code-wrapper">
<pre><code id = "code">
const int N = 10000000;
// lp[i] stores minimum prime factor of i
vector<int> lp(N+1);
vector<int> pr;   
for (int i=2; i <= N; ++i) {
   if (lp[i] == 0) {
        lp[i] = i;
        pr.push_back(i);
    }
    for (int j=0; j < (int)pr.size() && pr[j] <= lp[i] && i*pr[j] <= N; ++j) {
        lp[i * pr[j]] = pr[j]; // lp[i] is zero for prime numbers
    }
}
    
</code></pre>
            <button id = "copy-button">Copy</button>
        </div>
        <span id = "copy-success">Code copied :) </span>
    </div>
<script>

let java = document.getElementById('java');

java.addEventListener('click', function (){
  let content = document.getElementById('code');
  console.log(content)
  content.style.display = 'none';
  alert('We are working');
})

let python = document.getElementById('python');

python.addEventListener('click', function (){
  let content = document.getElementById('code');
  console.log(content)
  content.style.display = 'none';
  alert('We are working');
})

let cpp = document.getElementById('cpp');

cpp.addEventListener('click', function (){
  let content = document.getElementById('code');
  console.log(content)
  content.style.display = 'block';
})

</script>