extends base.pug
block scripts 
    script(src='/static/index.js')
block style 
    style
        include ../static/style.css
        include ../static/aboutstyle.css
block content
    div.wholesuccessregistration
        h1  Registration Successful
        div.container 
            p   <i> <strong>Congratulations </strong> </i>  on your successful registration.